.data-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--font);
  height: 150px;
}

.data-status-indicator {
  width: auto;
  height: 100%;
  display: block;
}

.data-status-text {
  font-size: 0.9rem;
}
