.phrase-reference {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 4px;
  background-color: var(--uxp-host-background-color);
  border-radius: 10px;
}

#phrase-reference-textarea {
  border: 1px dashed var(--uxp-host-border-color);
  background: var(--uxp-host-widget-hover-background-color);
  color: var(--uxp-host-text-color);
}

